-eras==2.3.1
absl-py==0.9.0
alembic==1.3.3
ansiwrap==0.8.4
appdirs==1.4.3
astor==0.8.1
async-generator==1.10
attrs==19.3.0
backcall==0.1.0
beautifulsoup4==4.8.2
black==19.10b0
bleach==3.1.0
blinker==1.4
bokeh==1.4.0
bqplot==0.12.3
cachetools==4.0.0
certifi==2019.11.28
certipy==0.1.3
cffi==1.13.2
chardet==3.0.4
click==7.0
cloudpickle==1.2.2
colorama==0.4.3
conda-package-handling==1.6.0
conda==4.7.12
cryptography==2.8
cycler==0.10.0
cython==0.29.15
cytoolz==0.10.1
dask==2.9.2
decorator==4.4.1
defusedxml==0.6.0
dill==0.3.1.1
distributed==2.10.0
entrypoints==0.3
fastcache==1.1.0
fastcore==0.1.12
fastscript==0.1.4
fsspec==0.6.2
future==0.18.2
gast==0.2.2
gitdb==4.0.2
gitpython==3.1.0
gmpy2==2.1.0b1
google-auth-oauthlib==0.4.1
google-auth==1.11.2
google-pasta==0.1.8
grpcio==1.27.2
h5py==2.10.0
heapdict==1.0.1
idna==2.8
imageio==2.8.0
importlib-metadata==1.5.0
inflect==4.0.0
innvestigate==1.0.8
ipykernel==5.1.4
ipympl==0.4.1
ipython-genutils==0.2.0
ipython==7.11.1
ipyvue==1.1.0
ipyvuetify==1.1.1
ipywidgets==7.5.1
jaraco.itertools==5.0.0
jedi==0.16.0
jinja2==2.11.0
joblib==0.14.1
json5==0.8.5
jsonschema==3.2.0
jupyter-client==5.3.4
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.6.1
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyter-server==0.1.1
jupyter-telemetry==0.0.4
jupyterhub==1.1.0
jupyterlab-git==0.9.0
jupyterlab-pygments==0.1.0
jupyterlab-server==1.0.6
jupyterlab==1.2.5
keras-applications==1.0.8
keras-preprocessing==1.1.0
keras==2.2.4
kiwisolver==1.1.0
llvmlite==0.31.0
locket==0.2.0
lxml==4.5.0
mako==1.1.0
markdown==3.2.1
markupsafe==1.1.1
matplotlib==3.1.3
mistune==0.8.4
more-itertools==8.2.0
mpmath==1.1.0
msgpack==1.0.0
nbclient==0.1.0
nbconvert==5.6.1
nbdev==0.2.12
nbdime==1.1.0
nbformat==5.0.4
networkx==2.4
notebook==6.0.3
numba==0.48.0
numexpr==2.7.1
numpy==1.18.1
oauthlib==3.0.1
olefile==0.46
opt-einsum==3.1.0
packaging==20.1
pamela==1.0.0
pandas==0.25.3
pandocfilters==1.4.2
papermill==2.0.0
parso==0.6.0
partd==1.1.0
pathspec==0.7.0
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
pillow==7.0.0
pip==20.0.2
pluggy==0.13.1
prometheus-client==0.7.1
prompt-toolkit==3.0.3
protobuf==3.11.4
psutil==5.7.0
ptyprocess==0.6.0
py==1.8.1
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycosat==0.6.3
pycparser==2.19
pycurl==7.43.0.4
pygments==2.5.2
pyjwt==1.7.1
pyopenssl==19.1.0
pyparsing==2.4.6
pyrsistent==0.15.7
pysocks==1.7.1
pytest==5.3.5
python-dateutil==2.8.1
python-editor==1.0.4
python-json-logger==0.1.11
pytz==2019.3
pywavelets==1.1.1
pyyaml==5.3
pyzmq==18.1.1
regex==2020.2.20
requests-oauthlib==1.3.0
requests==2.22.0
rpy2==3.1.0
rsa==4.0
ruamel-yaml==0.15.80
ruamel.yaml.clib==0.2.0
ruamel.yaml==0.16.6
scikit-image==0.16.2
scikit-learn==0.22.1
scipy==1.4.1
seaborn==0.9.0
send2trash==1.5.0
setuptools==45.1.0.post20200119
simplegeneric==0.8.1
six==1.14.0
smmap==3.0.1
sortedcontainers==2.1.0
soupsieve==1.9.4
sqlalchemy==1.3.13
statsmodels==0.11.0
sympy==1.5.1
tblib==1.6.0
tenacity==6.1.0
tensorboard==2.1.0
tensorflow-estimator==2.1.0
tensorflow==2.1.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
textwrap3==0.9.2
toml==0.10.0
toolz==0.10.0
tornado==6.0.3
tqdm==4.42.0
traitlets==4.3.3
traittypes==0.2.1
typed-ast==1.4.1
tzlocal==2.0.0
umap-learn==0.3.10
urllib3==1.25.7
vincent==0.4.4
voila-vuetify==0.2.2
voila==0.1.20
wcwidth==0.1.8
webencodings==0.5.1
werkzeug==1.0.0
wheel==0.34.1
widgetsnbextension==3.5.1
wrapt==1.12.0
xlrd==1.2.0
zict==1.0.0
zipp==2.1.0