services:
  jupyter:
    build:
      args:
        - username=${USER_NAME}
        - uid=${USER_ID}
        - gid=${GROUP_ID}
        - CUDA_VERSION=12.2.0-devel-ubuntu20.04
        - JUPYTER_TOKEN=${JUPYTER_TOKEN}
      context: ../
      labels:
        - username=${USER_NAME}
      dockerfile: docker/Dockerfile.jupyter
    image: dvats-jupyter:${USER_NAME}
    ports:
      - "${JUPYTER_PORT}:8888"
    environment:
      - WANDB_ENTITY=${WANDB_ENTITY}
      - WANDB_PROJECT=${WANDB_PROJECT}
      - WANDB_API_KEY=${WANDB_API_KEY}
      - GH_TOKEN=${GH_TOKEN}
      - CUDA_VISIBLE_DEVICES=${CUDA_VISIBLE_DEVICES}
      - WANDB_DIR=/home/${USER_NAME}/work
      - JUPYTER_TOKEN=${JUPYTER_TOKEN}
    volumes:
      - ../:/home/${USER_NAME}/work
      - ${LOCAL_DATA_PATH}:/home/${USER_NAME}/data/
      - conda-env:/usr/local/share/miniconda3/envs/env
      - miniconda:/usr/local/share/miniconda3
      - lib:/usr/local/share/lib
    entrypoint: ["/usr/local/bin/entrypoint.sh"]
    command: >
      xvfb-run -a jupyter lab --no-browser --ip 0.0.0.0 --ContentsManager.allow_hidden=True --NotebookApp.token=$JUPYTER_TOKEN
    init: true
    stdin_open: true
    tty: true
    deploy:
      resources:
        reservations:          
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
            
  rstudio-server:
      build:
          context: ../
          dockerfile: docker/Dockerfile.rstudio
          args:
              - WANDB_API_KEY=${WANDB_API_KEY} #
              #- RETICULATE_PYTHON_ENV=/home/env
              #- RETICULATE_MINICONDA_PATH=/home/miniconda3
              - RETICULATE_PYTHON_ENV=/usr/local/share/miniconda3/envs/env
              - RETICULATE_MINICONDA_PATH=/usr/local/share/miniconda3
              - USER=${USER_NAME} #* 
              - UID=${USER_ID} #*
              - GID=${GROUP_ID} #*
      image: dvats-rstudio:${USER_NAME}
      ports:
          - "${RSTUDIO_PORT}:8787" #*
      environment:
          - WANDB_ENTITY=${WANDB_ENTITY}
          - WANDB_API_KEY=${WANDB_API_KEY}
          - WANDB_PROJECT=${WANDB_PROJECT}
          - USER=${USER_NAME} #* 
          - USERID=${USER_ID} #*
          - GROUPID=${GROUP_ID} #*
          - PASSWORD=${RSTUDIO_PASSWD} #*
          - ROOT=FALSE
          - CUDA_VISIBLE_DEVICES=${CUDA_VISIBLE_DEVICES}
          - GH_TOKEN=${GH_TOKEN} #*
          # TODO (28/03/2023): I don't know why it is not working without this
          - ENV_VARS=WANDB_ENTITY,WANDB_API_KEY,WANDB_PROJECT,USER,USERID,GROUPID,PASSWORD,ROOT,CUDA_VISIBLE_DEVICES
      volumes:
         - ../r_shiny_app:/home/${USER_NAME}/app 
         - ${LOCAL_DATA_PATH}:/home/${USER_NAME}/data/ 
         - ../dvats:/home/${USER_NAME}/dvats
         - conda-env:/usr/local/share/miniconda3/envs/env
         - miniconda:/usr/local/share/miniconda3 
         - lib:/usr/local/share/lib
      deploy:
        resources:
          #limits:
            #cpus: '0.75'
          reservations:
            devices:
              - driver: nvidia
                count: all
                capabilities: [gpu]
  shiny-server:
    build:
      context: ../
      dockerfile: docker/Dockerfile.shiny
      args:
        - WANDB_API_KEY=${WANDB_API_KEY}
        - RETICULATE_PYTHON_ENV=/usr/local/share/miniconda3/envs/env
        - RETICULATE_MINICONDA_PATH=/usr/local/share/miniconda3
        - USER=${USER_NAME} #* 
        - UID=${USER_ID} #*
        - GID=${GROUP_ID} #*
        - SHINY_PORT=${SHINY_PORT}
    image: dvats-shiny:${USER_NAME}
    ports:
        - "${SHINY_PORT}:3838" #*
    expose:
        - "8888"
    environment:
      - WANDB_ENTITY=${WANDB_ENTITY}
      - WANDB_API_KEY=${WANDB_API_KEY}
      - WANDB_PROJECT=${WANDB_PROJECT}
      - USER=${USER_NAME} #* 
      - USERID=${USER_ID} #*
      - GROUPID=${GROUP_ID} #*
      - PASSWORD=${SHINY_PASSWD} #*
      - ROOT=FALSE
      - CUDA_VISIBLE_DEVICES=${CUDA_VISIBLE_DEVICES}
      - GH_TOKEN=${GH_TOKEN} #*
      # TODO (28/03/2023): I don't know why it is not working without this
      - ENV_VARS=WANDB_ENTITY,WANDB_API_KEY,WANDB_PROJECT,USER,USERID,GROUPID,PASSWORD,ROOT,CUDA_VISIBLE_DEVICES
    volumes:
      - ../r_shiny_app:/home/${USER_NAME}/app 
      - ${LOCAL_DATA_PATH}:/home/${USER_NAME}/data/ 
      - ../dvats:/home/${USER_NAME}/dvats
      - conda-env:/usr/local/share/miniconda3/envs/env
      - miniconda:/usr/local/share/miniconda3 
      - lib:/usr/local/share/lib
      - ../srv/shinylog:/var/log/shiny-server
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
volumes:
  conda-env:
  miniconda:
  lib:
